
<%- include("../includes/header.ejs",{title:title});%>

<script src="/public/js/views/pedidos/pedidos/functions.js"></script>

<input type="hidden" id="_id" value="<%- pedidos['_id'] -%>">

<form id="form_cadastro" method="post" action="/pedidos/ed/<%- pedidos['_id'] || 0 -%>">
    <input type="hidden" name="csrfToken" value="<%- csrfToken -%>">
    <div class="card">
        <div class="card-header bg-primary text-light">
            <strong>Dados Gerais</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="descricao">Descrição</label>
                    <input type="text" name="descricao" id="descricao" class="form-control" value="<%- pedidos['descricao'] -%>">
                </div>
                <div class="col-4">
                    <label for="data">Data</label>
                    <input type="date" name="data" id="data" class="form-control" value="<%- pedidos['data'] -%>">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <label for="cliente">Cliente</label>
                    <select name="cliente" id="cliente" class="form-control"></select>
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="col d-flex">
                    <div class="btn-group border rounded m-auto" id="multi-state-toggle" data-toggle="buttons">
                        <label class="btn btn-light mb-0 active">
                            <input type="radio" name="estado" id="option1" class="d-none" autocomplete="off" checked> Orçamento
                        </label>
                        <label class="btn btn-secondary mb-0">
                            <input type="radio" name="estado" id="option2" class="d-none" autocomplete="off"> Processamento
                        </label>
                    <!--
                        <label class="btn btn-secondary mb-0">
                            <input type="radio" name="estado" id="option3" class="d-none" autocomplete="off"> Em produção
                        </label>
                        <label class="btn btn-secondary mb-0">
                            <input type="radio" name="estado" id="option4" class="d-none" autocomplete="off"> Em transporte
                        </label>
                    -->
                        <label class="btn btn-secondary mb-0">
                            <input type="radio" name="estado" id="option5" class="d-none" autocomplete="off"> Finalizado
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header bg-primary text-light">
            <strong>Produtos</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div id="produtosClone" class="d-none">
                        <div class="row mb-3 produtos">
                            <div class="col">
                                <select name="produto[codigo][]" class="form-control produtoNome">
                                    <%- produtos.map(v => `<option value="${v['_id']}">${v['nome']}</option>`) -%>
                                </select>
                            </div>
                            <div class="col-3">
                                <input type="number" name="produto[preco]" class="form-control">
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-danger delButton"><i class="fa-solid fa-trash-can"></i></button>
                            </div>
                        </div>
                    </div>
                    <div id="listaProdutos">
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex">
                    <button class="btn btn-secondary w-25 m-auto" type="button" id="addProduto">+ Produto</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header bg-primary text-light">
            <strong>Pagamento</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="pagamento">Forma de Pagamento</label>
                    <select name="pagamento" id="pagamento" class="form-control"></select>
                </div>
                <div class="col">
                    <label for="parcelas">Parcelas</label>
                    <select name="parcelas" id="parcelas" class="form-control">
                        <option value="0"></option>                        
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <a href="/pedidos" class="btn btn-secondary text-light">Voltar</a>
        <%- 
            (pedidos['_id']!=undefined)?
            '<div id="btn_excluir" class="btn btn-danger text-light mr-1">Excluir</div><button type="submit" class="btn btn-primary text-light">Editar</button>':
            '<button type="submit" class="btn btn-primary text-light">Salvar</button>' 
        -%>
    </div>

</form>

<script src="/public/js/views/pedidos/pedidos/events.js"></script>
<script src="/public/js/views/pedidos/pedidos/sockets.js"></script>

<%- include("../includes/footer.ejs"); %>
    