
<%- include("../includes/header.ejs",{title:title});%>

<script src="/public/js/views/precificacao/precificacao/functions.js"></script>

<input type="hidden" id="_id" value="<%- precificacao['_id'] -%>">

<style>
    .stripedRow:hover {
        background-color: #cccccc;
    }
</style>

<%- (precificacao['_id'])?`<input type="hidden" id="metaVar" value='${JSON.stringify(variacoes)}'>`:`` -%>
<%- (precificacao['_id'])?`<input type="hidden" id="metaVarCont" value='${precificacao["variacao"].length}'>`:`` -%>

<form id="form_cadastro" method="post" action="/precificacao/ed/<%- precificacao['_id'] || 0 -%>">
    <input type="hidden" name="csrfToken" value="<%- csrfToken -%>">
    
    <div class="card">
        <div class="card-header bg-primary text-light">
            <strong>Dados Gerais</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" name="descricao" id="descricao">
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header bg-primary text-light">
            <strong>Tabela</strong>
        </div>
        <div class="card-body">
            <div class="d-none" id="prodModel">
                <div class="dProd border p-2 mt-3">
                    <div class="row">
                        <div class="col">
                            <label >Produto</label>
                            <select name="produto[]" class="produto form-control" <%- (precificacao['_id'])?'disabled':'' -%> required>
                                <option value=""></option>
                                <%-
                                    produtos.map(r => `<option value="${r._id}" ${(r._id == precificacao['produto'])?'selected':''}>${r.nome}</option>`);
                                -%>
                            </select>
                            <input type="hidden" name="nome[]" class="nome" value="<%- precificacao['nome'] -%>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="varList">
    
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary mt-3 btnAdicionar" <%- (precificacao['_id'])?'':'style="display:none"' -%>>+ Variação</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div id="prodList">

                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col d-flex">
                    <button type="button" class="btn btn-primary m-auto w-25" id="addProd">+ Produto</button>
                </div>
            </div>
            
        </div>
    </div>

    <div class="mt-3">
        <a href="/precificacao" class="btn btn-secondary text-light">Voltar</a>
        <%- 
            (precificacao['_id']!=undefined)?
            '<div id="btn_excluir" class="btn btn-danger text-light mr-1">Excluir</div><button type="submit" class="btn btn-primary text-light">Editar</button>':
            '<button type="submit" class="btn btn-primary text-light">Salvar</button>' 
        -%>
    </div>

</form>

<script src="/public/js/views/precificacao/precificacao/events.js"></script>
<script src="/public/js/views/precificacao/precificacao/sockets.js"></script>

<%- include("../includes/footer.ejs"); %>
    