
<%- include("../includes/header.ejs",{title:title});%>

<script src="/public/js/views/precificacao/precificacao/functions.js"></script>

<input type="hidden" id="_id" value="<%- precificacao['_id'] -%>">

<style>
    .stripedRow:hover {
        background-color: #cccccc;
    }
</style>

<%- (precificacao['_id'])?`<input type="hidden" id="metaVar" value='${JSON.stringify(variacoes)}'>`:`` -%>
<%- (precificacao['_id'])?`<input type="hidden" id="metaVarCont" value='${precificacao["variacao"].length}'>`:`` -%>

<form id="form_cadastro" method="post" action="/precificacao/ed/<%- precificacao['_id'] || 0 -%>">
    <input type="hidden" name="csrfToken" value="<%- csrfToken -%>">
    
    <div class="card">
        <div class="card-header bg-primary text-light">
            <strong>Dados Gerais</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="produto">Produto</label>
                    <select name="produto" id="produto" class="form-control" <%- (precificacao['_id'])?'disabled':'' -%> required>
                        <option value=""></option>
                        <%-
                            produtos.map(r => `<option value="${r._id}" ${(r._id == precificacao['produto'])?'selected':''}>${r.nome}</option>`);
                        -%>
                    </select>
                    <input type="hidden" name="nome" id="nome" value="<%- precificacao['nome'] -%>">
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header bg-primary text-light">
            <strong>Variações</strong>
        </div>
        <div class="card-body">
            <div id="variacoesHeader">
                <% if(precificacao['_id']){ %>
                    <% precificacao['variacao'].forEach((l,i) => { %>
                        <div class="row p-2 stripedRow">
                            <% l['variacoes'].forEach(v =>{ %>
                            <%
                                let options = variacoes.find(obj => obj._id == v.split(':')[0]);
                                let selected = v.split(':')[1];
                            %>
                                <div class="col">
                                    <select class="form-control" name="variacao[<%- i -%>][variacoes][]" required>
                                        <option selected disabled><%- options['nome'] -%></option>
                                        <%- options['var'].map(r => `<option value="${options['_id']}:${r['_id']}" ${(r['_id'] == selected)?'selected':''}>${r['nome']}</option>`) -%>
                                    </select>
                                </div>
                            <% }); %>
                            <div class="col">
                                <input type="text" name="variacao[<%- i -%>][preco]" placeholder="Preço" class="form-control" value="<%- l['preco'] -%>" required>
                            </div>
                            <div class="col">
                                <input type="text" name="variacao[<%- i -%>][minPreco]" placeholder="Preço mínimo" class="form-control" value="<%- l['minPreco'] -%>">
                            </div>
                            <div class="col-1 d-flex">
                                <button type="button" class="btn btn-danger delButton"><i class="fa-solid fa-trash-can"></i></button>
                                <i class=" ml-auto mb-auto mt-auto text-primary fa-solid fa-sort"></i>
                            </div>
                        </div>
                    <% }); %>
                <% } %>
            </div>
            <button type="button" class="btn btn-primary mt-3" <%- (precificacao['_id'])?'':'style="display:none"' -%> id="btnAdicionar">adicionar</button>
        </div>
    </div>

    <div class="mt-3">
        <a href="/precificacao" class="btn btn-secondary text-light">Voltar</a>
        <%- 
            (precificacao['_id']!=undefined)?
            '<div id="btn_excluir" class="btn btn-danger text-light mr-1">Excluir</div><button type="submit" class="btn btn-primary text-light">Editar</button>':
            '<button type="submit" class="btn btn-primary text-light">Salvar</button>' 
        -%>
    </div>

</form>

<script src="/public/js/views/precificacao/precificacao/events.js"></script>
<script src="/public/js/views/precificacao/precificacao/sockets.js"></script>

<%- include("../includes/footer.ejs"); %>
    