<%- include("../includes/header.ejs",{title:title});%>

<%
%>

<input type="hidden" id="inp_id" value="<%- categoria['_id'] -%>">

<script src="/public/js/views/categorias/categoria/functions.js"></script>

<form id="form_cadastro">
   
    <div class="card">
        <div class="card-header bg-primary text-light">
            <strong>Dados Gerais</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="inp_descricao">Nome</label>
                    <input type="text" name="inp_nome" id="inp_nome" class="form-control" value="<%- categoria['nome'] -%>">
                </div>
                <div class="col-4">
                    <label for="inp_ativo">Ativo</label>
                    <select name="inp_ativo" id="inp_ativo" class="form-control">
                        <option value="1" <%- (categoria['ativo'] != '0')?'selected':'' -%>>Sim</option>
                        <option value="0" <%- (categoria['ativo'] == '0')?'selected':'' -%>>Não</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="inp_descricao">Descrição</label>
                    <input type="text" name="inp_descricao" id="inp_descricao" class="form-control" value="<%- categoria['descricao'] -%>">
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header bg-primary text-light">
            <strong>Subcategoria</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <input type="text" id="inp_subNome" class="form-control" placeholder="Nome">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" id="btn_addSub">Adicionar</button>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Ativo</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_sub">
                            <% if(categoria['subcategoria'])for(let i = 0; i < categoria['subcategoria'].length;i++){ %>
                                <tr>
                                    <td><input type="text" class="form-control" value="<%- categoria['subcategoria'][i]['nome'] -%>"></td>
                                    <td>
                                        <select class="form-control">
                                            <option value="1" <%- (categoria['subcategoria'][i]['ativo'] != 0)?'selected':''; -%>>Sim</option>
                                            <option value="0" <%- (categoria['subcategoria'][i]['ativo'] == 0)?'selected':''; -%>>Não</option>
                                        </select>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>           
        </div>
    </div>

    <div class="mt-3">
        <a href="/categorias" class="btn btn-secondary text-light">Voltar</a>
        <%- 
            (categoria['_id']!=undefined)?
            '<div id="btn_excluir" class="btn btn-danger text-light mr-1">Excluir</div><button type="submit" class="btn btn-primary text-light">Editar</button>':
            '<button type="submit" class="btn btn-primary text-light">Salvar</button>' 
        -%>
    </div>

</form>

<%- include("../includes/footer.ejs"); %>