<%- include("../includes/header.ejs",{title:title});%>

<%
%>

<input type="hidden" id="_id" value="<%- medida['_id'] -%>">

<form id="form_cadastro" method="post" action="/medidas/ed/<%- medida['_id'] || 0 -%>">

    <input type="hidden" name="csrfToken" value="<%- csrfToken -%>">
    <div class="card">
        <div class="card-header bg-primary text-light">
            <strong>Dados Gerais</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="descricao">Nome</label>
                    <input type="text" name="nome" id="nome" class="form-control" value="<%- medida['nome'] -%>">
                </div>
                <div class="col-2">
                    <label for="simbolo">Simbolo</label>
                    <input type="text" name="simbolo" id="simbolo" class="form-control" value="<%- medida['simbolo'] -%>">
                </div>
                <div class="col-2">
                    <label for="ativo">Ativo</label>
                    <select name="ativo" id="ativo" class="form-control">
                        <option value="1" <%- (medida['ativo'] != '0')?'selected':'' -%>>Sim</option>
                        <option value="0" <%- (medida['ativo'] == '0')?'selected':'' -%>>Não</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header bg-primary text-light">
            <strong>Grandezas</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <input type="text" id="inp_grandezaNome" class="form-control" placeholder="Nome">
                        <input type="text" id="inp_grandezaSimbolo" class="form-control" placeholder="Símbolo">
                        <input type="text" id="inp_grandezaProporcao" class="form-control" placeholder="Proporção(1:X)">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" id="btn_addGrandeza">Adicionar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Simbolo</th>
                                <th>Proporção</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbl_grandezas">
                            <% if(medida['grandeza'])for(let i = 0; i < medida['grandeza'][`nome`].length;i++){ %>
                                <tr>
                                    <td><input class="form-control" name="grandeza[nome]" value="<%- medida['grandeza']['nome'][i] -%>" readonly="readonly"></td>
                                    <td><input class="form-control" name="grandeza[simbolo]" value="<%- medida['grandeza']['simbolo'][i] -%>" readonly="readonly"></td>
                                    <td class="d-flex"><span class="m-auto">1 <%- medida['grandeza']['simbolo'][i] -%> = </span> <input type="text" name="grandeza[proporcao]" value="<%- medida['grandeza']['proporcao'][i] -%>" class="form-control w-50" readonly="readonly"><span class="m-auto"> <%- medida['simbolo'] -%></span></td>
                                    <td><button type="button" class="btn btn-danger delButton"><i class="fa-solid fa-trash-can"></i></button></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <a href="/medidas" class="btn btn-secondary text-light">Voltar</a>
        <%- 
            (medida['_id']!=undefined)?
            '<div id="btn_excluir" class="btn btn-danger text-light mr-1">Excluir</div><button type="submit" class="btn btn-primary text-light">Editar</button>':
            '<button type="submit" class="btn btn-primary text-light">Salvar</button>' 
        -%>
    </div>

</form>

<script src="/public/js/views/medidas/medida/functions.js"></script>
<script src="/public/js/views/medidas/medida/sockets.js"></script>
<script src="/public/js/views/medidas/medida/submit.js"></script>
<script src="/public/js/views/medidas/medida/events.js"></script>

<%- include("../includes/footer.ejs"); %>