<%- include("../includes/header.ejs",{title:title});%>

<%
    if(variacao[`cor`] == undefined)
        variacao = {var:[{nome:``,cor:``,_id:``}]}
%>

<input type="hidden" id="_id" value="<%- variacao['_id'] -%>">

<form id="form_cadastro" method="post" action="/variacoes/ed/<%- variacao['_id'] || 0 -%>">

    <input type="hidden" name="csrfToken" value="<%- csrfToken -%>">
    <div class="card">
        <div class="card-header bg-primary text-light">
            <strong>Dados Gerais</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="descricao">Nome</label>
                    <input type="text" name="nome" id="nome" class="form-control" value="<%- variacao['nome'] -%>">
                </div>
                <div class="col-3">
                    <label for="cor">Possui Cor</label>
                    <select name="cor" id="cor" class="form-control">
                        <option value="0" <%- variacao['cor'] == `0`?`selected`:`` -%>>Não</option>
                        <option value="1" <%- variacao['cor'] == `1`?`selected`:`` -%>>Sim</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header bg-primary text-light">
            <strong>Variações</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <input type="text" name="var[0][nome]" class="form-control" placeholder="Nome da variação" value="<%- variacao['var'][0][`nome`] -%>">
                    <input type="hidden" name="var[0][_id]" value="<%- variacao['var'][0][`_id`] -%>">
                </div>
                <div class="col-1">
                    <input type="color" name="var[0][cor]" id="varCor" value="<%- variacao['var'][0][`cor`] -%>" class="btn border <%- variacao['cor'] == 1?`"`:`d-none" disabled` %>>
                </div>
                <div class="col-1">
                </div>
            </div>
            <div id="tbl_variacao">
                <%
                    if(variacao[`var`].length > 1){
                        for(let i = 1; i < variacao[`var`].length;i++)
                        {
                            %>
                            <div class="row mt-3">
                                <div class="col">
                                    <input type="text" name="var[<%- i -%>][nome]" class="form-control" placeholder="Nome da variação" value="<%- variacao['var'][i][`nome`] -%>">
                                    <input type="hidden" name="var[<%- i -%>][_id]" value="<%- variacao['var'][i][`_id`] -%>">
                                </div>
                            <%
                            if(variacao[`cor`] == 1){
                            %>
                                <div class="col-1">
                                    <input type="color" name="var[<%- i -%>][cor]" class="btn border" value="<%- variacao['var'][i][`cor`] -%>">
                                </div>
                            <%
                            }else{
                            %>
                                <div class="col-1"></div>
                            <% } %>
                            <div class="col-1">
                                    <button type="button" class="btn btn-danger delButton"><i class="fa-solid fa-trash-can"></i></button>
                                </div>
                            </div>
                            <input type="hidden" class="varCont" value="<%- i -%>">
                            <%
                        }
                    }
                %>
            </div>
            <button type="button" class="btn btn-primary mt-3" id="btn_addVar">Adicionar</button>
        </div>
    </div>

    <div class="mt-3">
        <a href="/variacoes" class="btn btn-secondary text-light">Voltar</a>
        <%- 
            (variacao['_id']!=undefined)?
            '<div id="btn_excluir" class="btn btn-danger text-light mr-1">Excluir</div><button type="submit" class="btn btn-primary text-light">Editar</button>':
            '<button type="submit" class="btn btn-primary text-light">Salvar</button>' 
        -%>
    </div>

</form>

<script src="/public/js/views/variacoes/variacao/functions.js"></script>
<script src="/public/js/views/variacoes/variacao/sockets.js"></script>
<script src="/public/js/views/variacoes/variacao/events.js"></script>

<%- include("../includes/footer.ejs"); %>