<%- include("../includes/header.ejs",{title:title});%>

<%
%>

<input type="hidden" id="inp_id" value="<%- marca['_id'] -%>">

<form id="form_cadastro">
   
    <div class="card">
        <div class="card-header bg-primary text-light">
            <strong>Dados Gerais</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="inp_descricao">Nome</label>
                    <input type="text" name="inp_nome" id="inp_nome" class="form-control" value="<%- marca['nome'] -%>">
                </div>
                <div class="col-4">
                    <label for="inp_ativo">Ativo</label>
                    <select name="inp_ativo" id="inp_ativo" class="form-control">
                        <option value="1" <%- (marca['ativo'] != '0')?'selected':'' -%>>Sim</option>
                        <option value="0" <%- (marca['ativo'] == '0')?'selected':'' -%>>Não</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="inp_descricao">Descrição</label>
                    <input type="text" name="inp_descricao" id="inp_descricao" class="form-control" value="<%- marca['descricao'] -%>">
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <a href="/marcas" class="btn btn-secondary text-light">Voltar</a>
        <%- 
            (marca['_id']!=undefined)?
            '<div id="btn_excluir" class="btn btn-danger text-light mr-1">Excluir</div><button type="submit" class="btn btn-primary text-light">Editar</button>':
            '<button type="submit" class="btn btn-primary text-light">Salvar</button>' 
        -%>
    </div>

</form>

<script>
    function toJson(){
        let resp = {
            nome:$('#inp_nome').val(),
            descricao:$('#inp_descricao').val(),
            ativo:$('#inp_ativo').val(),
        };
        
        return JSON.stringify(resp);
    }

    $('#form_cadastro').submit((e)=>{
        e.preventDefault();
        if($('#inp_id').val() == ""){
            socket.emit('addMarca',toJson());
        }
        else{
            Swal.fire({
                title:'Deseja salvar a edição?',
                showCancelButton: true,
                confirmButtonText: 'Salvar',
                cancelButtonText: 'Cancelar',
            }).then((resp)=>{
                if(resp.isConfirmed){
                    socket.emit('editMarca',{form:toJson(),id:$('#inp_id').val()});
                };
            });
        }
    });

    $("#btn_excluir").click(()=>{
        Swal.fire({
            icon:'warning',
            title: $('#inp_nome').val(),
            text:'Deseja Excluir?',
            showCancelButton: true,
            showConfirmButton: false,
            showDenyButton: true,
            denyButtonText: 'Excluir',
            cancelButtonText: 'Cancelar',
        }).then((resp)=>{
           if(resp.isDenied){
                socket.emit('delMarca',$('#inp_id').val());
            };
        });
    });

    socket.on('marca-resp',(resp)=>{
        Swal.fire({
            icon:(resp['success'])?'success':'error',
            showConfirmButton: false,
            title:(resp['success'])?'Transação sucedida':resp['err'],
            timer: 1500
        }).then(()=>{if(resp['success']){location.href='/marcas'}});
    });
</script>

<%- include("../includes/footer.ejs"); %>