<%- include("../includes/header.ejs",{title:title});%>

<%
let PJ;
let PF;
let MEI;
if(Object.keys(cliente) != 0){
    PJ = (cliente['pessoa']=='2')?'disabled':'';
    PF = (cliente['pessoa']=='2')?'':'disabled';
    MEI = (cliente['mei']=='1')?'disabled':'';
}else{
    cliente = {responsavel:{}};
    PJ = "";
    PF = "readonly";
    MEI = "";
}
%>

<input type="hidden" id="_id" value="<%- cliente['_id'] -%>">

<form id="form_cadastro" method="post" action="/clientes/ed/<%- cliente['_id'] || 0 -%>">

    <input type="hidden" name="csrfToken" value="<%- csrfToken -%>">
    <div class="card">
        <div class="card-header bg-primary text-light">
            <strong>Classificação</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="pessoa">Pessoa</label>
                    <select id="inp_pessoa" name="pessoa" class="form-control">
                        <option value="1" <%- (cliente['pessoa'] != '2')?'selected':'' -%>>Jurídica</option>
                        <option value="2" <%- (cliente['pessoa'] == '2')?'selected':'' -%>>Física</option>
                    </select>
                </div>
                <div class="col">
                    <label for="mei">MEI</label>
                    <select pj name="mei" id="inp_mei" class="form-control" <%-PJ-%>>
                        <option value="0" <%- (cliente['mei'] != '1' )?'selected':'' -%>>Não</option>
                        <option value="1" <%- (cliente['mei'] == '1')?'selected':'' -%>>Sim</option>
                    </select>
                </div>
                <div class="col">
                    <label for="tipo">Tipo</label>
                    <select pj name="tipo" id="inp_tipo" class="form-control" <%-PJ-%> <%-MEI-%>>
                        <option value="0" <%- (cliente['tipo'] == '0')?'selected':'' -%>>Sociedade Limitada (LTDA)</option>
                        <option value="1" <%- (cliente['tipo'] == '1')?'selected':'' -%>>Empresa individual (EI)</option>
                        <option value="2" <%- (cliente['tipo'] == '2')?'selected':'' -%>>Empresa individual de responsabilidade limitada (EIRELI)</option>
                        <option value="3" <%- (cliente['tipo'] == '3')?'selected':'' -%>>Sociedade anônima (SA)</option>
                    </select>
                </div>
                <div class="col">
                    <label for="enquadramento">Enquadramento Fiscal</label>
                    <select pj name="enquadramento" id="inp_enquadramento" class="form-control" <%-PJ-%> <%-MEI-%>>
                        <option value="1" <%- (cliente['enquadramento'] == '1')?'selected':'' -%>>Simples Nacional</option>
                        <option value="2" <%- (cliente['enquadramento'] == '2')?'selected':'' -%>>Lucro Presumido</option>
                        <option value="3" <%- (cliente['enquadramento'] == '3')?'selected':'' -%>>Lucro Real</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header bg-primary text-light">
            <strong>Dados Gerais</strong>
        </div>
        <div class="card-body">
            <div class="row mt-3">
                <div class="col">
                    <label for="razaoSocial">Nome/Razão Social <small class="text-danger">*</small></label>
                    <input type="text" class="form-control" id="inp_razaoSocial" name="razaoSocial" value="<%- cliente['razaoSocial'] -%>" required>
                </div>
                <div class="col">
                    <label for="nomeFantasia">Nome Fantasia <small class="text-danger">*</small></label>
                    <input pj type="text" class="form-control" id="inp_nomeFantasia" name="nomeFantasia" value="<%- cliente['nomeFantasia'] -%>" <%-PJ-%> required>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="cpf">CPF <small class="text-danger">*</small></label>
                    <input pf type="text" name="cpf" id="inp_cpf" class="form-control" value="<%- cliente['cpf'] -%>" <%-PF-%> required>
                </div>
                <div class="col">
                    <label for="cnpj">CNPJ <small class="text-danger">*</small></label>
                    <input pj type="text" name="cnpj" id="inp_cnpj" class="form-control" value="<%- cliente['cnpj'] -%>" <%-PJ-%> required>
                </div>
                <div class="col">
                    <label for="ie">Inscrição Estadual <small class="text-danger">*</small></label>
                    <input pj type="text" name="ie" id="inp_ie" class="form-control" value="<%- cliente['ie'] -%>" <%-PJ-%> <%-MEI-%> required>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header bg-primary text-light">
            <strong>Responsável</strong>
        </div>
        <div class="card-body">
            <div class="row mt-3">
                <div class="col">
                    <label for="inp_respNome">Nome <small class="text-danger">*</small></label>
                    <input pj type="text" class="form-control" id="inp_respNome" name="responsavel[nome]" value="<%- cliente['responsavel']['nome'] -%>" <%-PJ-%> required>
                </div>
                <div class="col">
                    <label for="inp_respCargo">Cargo</label>
                    <select pj name="responsavel[cargo]" id="inp_respCargo" class="form-control" <%-PJ-%>>
                        <option value="funcionario" <%- (cliente['responsavel']['cargo'] == "funcionario" || cliente['responsavel']['cargo'] == undefined)?'selected':'' -%>>Funcionário</option>
                        <option value="dono" <%- (cliente['responsavel']['cargo'] == "dono")?'selected':'' -%>>Dono</option>
                    </select>
                </div>
                <div class="col">
                    <label for="inp_respCpf">CPF</label>
                    <input pj type="text" class="form-control" id="inp_respCpf" name="responsavel[cpf]" value="<%- cliente['responsavel']['cpf'] -%>" <%-PJ-%> required>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab_contato"><strong>Contato</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_endereco"><strong>Endereço</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_financeiro"><strong>Financeiro</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_obs"><strong>Observações</strong></a>
        </li>
    </ul>

    <div class="tab-content bg-primary p-2">

        <div class="tab-pane active" id="tab_contato">
            <div class="card mt-3">
                <div class="card-header text-primary">
                    <strong>Contato</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <select id="inp_tipoContato" class="form-control">
                                    <option value="celular" class="tellMask">Celular</option>
                                    <option value="whatsapp" class="tellMask">Whatsapp</option>
                                    <option value="telefone" class="tellMask">Telefone</option>
                                    <option value="particular" class="tellMask">Particular</option>
                                    <option value="email">Email</option>
                                    <option value="site">Site</option>
                                </select>
                                <input type="text" id="inp_contato" class="form-control w-75" placeholder="Contato">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary" id="btn_addContato">Adicionar</button>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Contato</th>
                                        <th>Padrão</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tbl_contato">
                                    <% if(cliente['contato'])for(let i = 0; i < cliente['contato']['tipo'].length;i++){ %>
                                        <tr class="w-25">
                                            <td><input type="text" name="contato[tipo][]" class="form-control" value="<%- cliente['contato']['tipo'][i] -%>" readonly></td>
                                            <td><input type="text" name="contato[contato][]" value="<%- cliente['contato']['contato'][i]-%>" class="form-control" readonly></td>
                                            <td><select class="form-control" name="contato[padrao][]"><option value="0" <%- (cliente['contato']['padrao'][i] == '0')?'selected':'' -%>>Nao</option><option value="1" <%- (cliente['contato']['padrao'][i] == '1')?'selected':'' -%>>Sim</option></select></td>
                                            <td><button type="button" class="btn btn-danger delButton"><i class="fa-solid fa-trash-can"></i></button></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="tab_endereco">
            <div class="card mt-3">
                <div class="card-header text-primary">
                    <strong>Endereço</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <input type="text" id="inp_cep" class="form-control" placeholder="CEP">
                                <input type="text" id="inp_endereco" class="form-control w-25" placeholder="Endereço">
                                <input type="text" id="inp_numero" class="form-control" placeholder="Número">
                                <input type="text" id="inp_complemento" class="form-control w-25" placeholder="Complemento">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary" id="btn_addEndereco">Adicionar</button>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>CEP</th>
                                        <th>Endereco</th>
                                        <th>Número</th>
                                        <th>Complemento</th>
                                        <th>Padrão</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tbl_endereco">
                                    <% if(cliente['endereco'])for(let i = 0; i < cliente['endereco']['cep'].length;i++){ %>
                                        <tr>
                                            <td><input class="form-control" name="endereco[cep][]" value="<%- cliente['endereco']['cep'][i] -%>" readonly></td>
                                            <td><input class="form-control" name="endereco[endereco][]" value="<%- cliente['endereco']['endereco'][i] -%>" readonly></td>
                                            <td><input class="form-control" name="endereco[numero][]" value="<%- cliente['endereco']['numero'][i] -%>" readonly></td>
                                            <td><input class="form-control" name="endereco[complemento][]" value="<%- cliente['endereco']['complemento'][i] -%>" readonly></td>
                                            <td><select class="form-control" name="endereco[padrao][]"><option value="0" <%- (cliente['endereco']['padrao'][i] == '2')?'selected':'' -%>>Nao</option><option value="1" <%- (cliente['endereco']['padrao'][i] == '1')?'selected':'' -%>>Sim</option></select></td>
                                            <td><button type="button" class="btn btn-danger delButton"><i class="fa-solid fa-trash-can"></i></button></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="tab_financeiro">
            <div class="card mt-3">
                <div class="card-header text-primary">
                    <strong>Conta bancária</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <input type="text" id="inp_bancoCodigo" list="lst_banco" class="form-control" placeholder="Instituição" onClick="this.select();">
                                <datalist id="lst_banco">
                                    <option value='104 - Caixa Econômica Federal'>
                                    <option value='260 - Nubank'>
                                    <option value='654 - Banco AJ Renner'>
                                    <option value='218 - Banco Bonsucesso'>
                                    <option value='237 - Banco Bradesco'>
                                    <option value='208 - Banco BTG Pactual'>
                                    <option value='044 - Banco BVA'>
                                    <option value='241 - Banco Clássico'>
                                    <option value='229 - Banco Cruzeiro do Sul'>
                                    <option value='003 - Banco da Amazônia'>
                                    <option value='707 - Banco Daycoval'>
                                    <option value='250 - Banco de Crédito e Varejo (BCV)'>
                                    <option value='024 - Banco de Pernambuco'>
                                    <option value='001 - Banco do Brasil'>
                                    <option value='037 - Banco do Estado do Pará'>
                                    <option value='029 - Banco do Estado do Rio de Janeiro'>
                                    <option value='041 - Banco do Estado do Rio Grande do Sul'>
                                    <option value='004 - Banco do Nordeste do Brasil'>
                                    <option value='734 - Banco Gerdau'>
                                    <option value='604 - Banco Industrial do Brasil'>
                                    <option value='077 - Banco Inter'>
                                    <option value='074 - Banco J. Safra'>
                                    <option value='079 - Banco JBS'>
                                    <option value='065 - Banco Lemon'>
                                    <option value='600 - Banco Luso Brasileiro'>
                                    <option value='746 - Banco Modal'>
                                    <option value='066 - Banco Morgan Stanley'>
                                    <option value='735 - Banco Neon'>
                                    <option value='212 - Banco Original'>
                                    <option value='072 - Banco Rural Mais'>
                                    <option value='422 - Banco Safra'>
                                    <option value='033 - Banco Santander'>
                                    <option value='749 - Banco Simples'>
                                    <option value='464 - Banco Sumitomo Mitsui Brasileiro'>
                                    <option value='082 - Banco Topázio'>
                                    <option value='634 - Banco Triângulo'>
                                    <option value='655 - Banco Votorantim'>
                                    <option value='610 - Banco VR'>
                                    <option value='119 - Banco Western Union do Brasil'>
                                    <option value='336 - C6 Bank'>
                                    <option value='477 - Citibank'>
                                    <option value='062 - Hipercard Banco Múltiplo'>
                                    <option value='341 - Itaú Unibanco'>
                                    <option value='197 - Stone Pagamentos'>
                                    <option value='290 - PagBank'>
                                    <option value='380 - PicPay'>
                                    <option value='184 - Banco Itaú BBA S.A.'>
                                    <option value='748 - Banco Cooperativo Sicredi S.A.'>
                                    <option value='102 - XP Investimentos CCTVM S.A.'>
                                    <option value='376 - Banco JPMorgan S.A.'>
                                    <option value="756 - Banco Sicoob">
                                </datalist>
                                <select id="inp_bancoTipoConta" class="form-control">
                                    <option selected disabled>Tipo de conta</option>
                                    <option value="Corrente">Conta Corrente</option>
                                    <option value="Poupança">Conta Poupança</option>
                                </select>
                                <input type="text" id="inp_bancoAgencia" class="form-control" placeholder="Agência">
                                <input type="text" id="inp_bancoConta" class="form-control" placeholder="Conta">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary" id="btn_addBanco">Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Banco</th>
                                    <th>Conta</th>
                                    <th>Agencia</th>
                                    <th>Numero</th>
                                    <th>Padrão</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbl_banco">
                                <% if(cliente['banco'])for(let i = 0; i < cliente['banco']['instituicao'].length;i++){ %>
                                    <tr class="w-25">
                                        <td><input type="text" name="banco[instituicao][]" class="form-control" value="<%- cliente['banco']['instituicao'][i] -%>" readonly></td>
                                        <td><input type="text" name="banco[conta][]" value="<%- cliente['banco']['conta'][i] -%>" class="form-control" readonly></td>
                                        <td><input type="text" name="banco[agencia][]" value="<%- cliente['banco']['agencia'][i] -%>" class="form-control" readonly></td>
                                        <td><input type="text" name="banco[numero][]" value="<%- cliente['banco']['numero'][i] -%>" class="form-control" readonly></td>
                                        <td><select class="form-control" name="banco[padrao][]"><option value="0" <%- (cliente['banco']['padrao'][i] == '0')?'selected':'' -%>>Nao</option><option value="1" <%- (cliente['banco']['padrao'][i] == '1')?'selected':'' -%>>Sim</option></select></td>
                                        <td><button type="button" class="btn btn-danger delButton"><i class="fa-solid fa-trash-can"></i></button></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header text-primary">
                    <strong>PIX</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <select id="inp_pixTipo" class="form-control w-25">
                                    <option value="cpf">CPF</option>
                                    <option value="cnpj">CNPJ</option>
                                    <option value="email">Email</option>
                                    <option value="celular">Celular</option>
                                    <option value="aleatoria">Aleatória</option>
                                </select>
                                <input type="text" id="inp_pixChave" class="form-control w-50">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary" id="btn_addPix">Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>tipo</th>
                                    <th>Chave</th>
                                    <th>Padrão</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbl_pix">
                                <% if(cliente['pix'])for(let i = 0; i < cliente['pix']['tipo'].length;i++){ %>
                                    <tr class="w-25">
                                        <td><input type="text" name="pix[tipo][]" class="form-control" value="<%- cliente['pix']['tipo'][i] -%>" readonly></td>
                                        <td><input type="text" name="pix[chave][]" value="<%- cliente['pix']['chave'][i]-%>" class="form-control" readonly></td>
                                        <td><select class="form-control" name="pix[padrao][]"><option value="0" <%- (cliente['pix']['padrao'][i] == '0')?'selected':'' -%>>Nao</option><option value="1" <%- (cliente['pix']['padrao'][i] == '1')?'selected':'' -%>>Sim</option></select></td>
                                        <td><button type="button" class="btn btn-danger delButton"><i class="fa-solid fa-trash-can"></i></button></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab_obs">
            <div class="card mt-3">
                <div class="card-header text-primary">
                    <strong>Observações</strong>
                </div>
                <div class="card-body">
                    <textarea name="obs" id="inp_obs" class="form-control" rows="10"><%- cliente['obs'] -%></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <a href="/clientes" class="btn btn-secondary text-light">Voltar</a>
        <%- 
            (cliente['_id']!=undefined)?
            '<div id="btn_excluir" class="btn btn-danger text-light mr-1">Excluir</div><button type="submit" class="btn btn-primary text-light">Editar</button>':
            '<button type="submit" class="btn btn-primary text-light">Salvar</button>' 
        -%>
    </div>
</form>

<script src="/public/js/views/clientes/cliente/functions.js"></script>
<script src="/public/js/views/clientes/cliente/submit.js"></script>
<script src="/public/js/views/clientes/cliente/events.js"></script>
<script src="/public/js/views/clientes/cliente/sockets.js"></script>

<%- include("../includes/footer.ejs"); %>